*
{
    margin: 0;
	padding: 0;
}

body{
	background: url("../img/meow.jpeg") no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.box{
	height: 100px;
	width: 100%;
	background-color: rgba(75, 75, 75, 1);
}

.dis
{
	margin-top: 100px;
}

.boxword
{
    margin-top:-68px;
    margin-bottom:50px;
    font-size: 25px;
    font-weight: bolder;
}

.IndexButton
{
	margin-top:150px;
	margin-left:10px;
	margin-bottom:20px;
    width: 120px;
	height: 35px;
	border: 1.75px solid rgb(35, 35, 35);
	background: rgb(120, 120, 120,0.35);
	transition: 0.3s;
}

.IndexButton:hover
{
	margin-left:10px;
	margin-bottom:20px;
    width: 125px;
	height: 40px;
	border: 1.75px solid rgb(35, 35, 35);
	background: rgb(140, 140, 140,0.35);
	transition: 0.1s;
}

.NoteButton
{
	margin-left:10px;
	margin-bottom:20px;
    width: 150px;
	height: 35px;
	border: 1.75px solid rgb(35, 35, 35);
	background: rgb(120, 120, 120,0.35);
	transition: 0.3s;
}

.NoteButton:hover
{
	margin-left:10px;
	margin-bottom:20px;
    width: 160px;
	height: 40px;
	border: 1.75px solid rgb(35, 35, 35);
	background: rgb(140, 140, 140,0.35);
	transition: 0.1s;
}

.WaitButton
{
	margin-left:10px;
	margin-bottom:20px;
    width: 120px;
	height: 35px;
	border: 1.75px solid rgb(35, 35, 35);
	background: rgb(120, 120, 120,0.35);
	transition: 0.3s;
}

.WaitButton:hover
{
	margin-left:10px;
	margin-bottom:20px;
    width: 125px;
	height: 40px;
	border: 1.75px solid rgb(35, 35, 35);
	background: rgb(140, 140, 140,0.35);
	transition: 0.1s;
}